@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

// variables

$font: 'Oswald', sans-serif;
$text-dark: #333;
$bg-d: #0B0C10;
$bg-l: #1F2833;
$t-blue-d: #45A29E;
$t-blue-l: #66FCF1;

// Default styles

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body, html, #wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: $bg-l;
	font-family: $font;
}

a {
	text-decoration: none;
}

ul, li {
	list-style-type: none;
}

button, input, select, textarea {
	outline: none;
	border: 1px solid #000;
}

// BlackJack

.bj-admin {
	max-width: 75%;
	margin: 50px auto;
	ul {
		display: flex;
		li {
			padding: 15px;
			background-color: $bg-d;
			border-radius: 5px;
			color: #fff;
			font-size: 20px;
			margin-left: 10px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.bj-board {
	max-width: 75%;
	border: 1px solid $bg-d;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 35px;
	position: relative;
	background-color: $bg-d;
	&__main {
		.bj-board__dealer, .bj-board__player {
			text-align: center;
			.bj-board__illustration {
				width: 75px;
				height: 75px;
				background-color: blue;
				border-radius: 50%;
				margin: 0 auto;
				img {
					width: 100%;
					border-radius: 50%;
					box-shadow: 0px 10px 13px -7px #ccc, 5px 27px 50px 9px rgba(204,202,255,0);
				}
			}
			.bj-board__name {
				margin-top: 15px;
				h1 {
					color: $t-blue-d;
					font-size: 25px;
					font-weight: 400;
				}
			}
			.bj-board__hands {
				ul {
					display: flex;
					justify-content: center;
					li {
						margin-left: 5px;
						padding: 5px;
						border-radius: 2px;
						color: $t-blue-l;
						background-color: $bg-l;
						&:first-child {
							margin-left: 0;
						}
					}
				}
			}
		}
		.bj-board__player {
			margin-top: 75px;
		}
	}
}

.bj-control {
	&__bet, &__choice {
		position: relative;
		align-self: flex-start;
		.bj-control__active {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
			opacity: 0.5;
			display: none;
			&.hidden {
				display: block;
			}
		}
	}
	&__bet {
		display: inline-block;
		ul {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			align-content: flex-start;
			padding: 15px;
			li {
				margin-top: 25px;
				width: 60px;
				height: 60px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				color: black;
				border: .45em dashed #fff;
				box-shadow: 0 0 0 .2em #fff;
				&:first-child {
					margin: 0;
					background-color: #fff;
					border: .45em dashed #aaa;
					box-shadow: 0 0 0 .2em #aaa;
				}
				&:nth-child(2) {
					background-color: #317DDD;
				}
				&:nth-child(3) {
					background-color: #555;
				}
				&:nth-child(4) {
					background-color: #ffd041;
				}
				&:last-child {
					background-color: #5e412f;
				}
			}
		}
	}
	&__choice {
		ul {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			background-color: $bg-d;
			padding: 15px;
			height: 100%;
			li {
				margin-top: 15px;
				&:first-child {
					h1 {
						background-color: #f42448;
					}
				}
				&:last-child {
					h1 {
						background-color: #00a03e;
					}
				}
				h1 {
					width: 50px;
					height: 50px;
					background-color: red;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					i {
						font-size: 20px;
					}
				}
				p {
					color: #fff;
					text-align: center;
					margin-top: 10px;
				}
			}
		}
	}
}