// 1200px
@media only screen and (max-width: 1200px) {

}

// 1024px
@media only screen and (max-width: 1024px) {

}

// 768px
@media only screen and (max-width: 768px) {
	.bj-board {
		flex-direction: column;
		&__main {
			margin: 25px 0;
		}
		.bj-control {
			width: 100%;
			padding: 10px;
			&__bet {
				display: block;
			}
			ul {
				width: 100%;
				justify-content: center;
				flex-direction: row;
				padding: 10px;
				li {
					margin-top: 0;
					margin-left: 12.5px;
				}
			}
		}
	}
}

// 480px
@media only screen and (max-width: 480px) {
	
}